.info{
    border-radius: 14px;
    margin-right: 40px;
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
    margin-bottom: 30px;
    background-color: blue;
    color: white;
}

.info p{
    max-width: 240px;
    margin-bottom: 10px;
}